.contactsBlock {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    min-height: 30rem;
    position: relative;
    overflow: hidden;
    
}

.contactContainer{
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;

}



.contactTextContainer {
    gap: 5rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    
    width: 20%;
    color: black;
    font-size: 2rem;
    font-weight: 100;
}

.secondText {
    font-size: x-large;
}

.formContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    

}


.input {
    margin-top: 1rem;
    width: 100%;
    padding: 13px 20px;
    border: 1px solid #eee;
    letter-spacing: 1px;
    border-radius: 5px;
    outline: none;
    color: var(--textColor);
    background-color: #eee;
    
}


.input:focus::placeholder {
    transform: translateY(-200%);
    font-size: 12px;
    color: var(--textColor);
    transition: transform 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.textArea {
    margin-top: 1rem;
    width: 100%;
    height: 20vh;
    padding: 13px 20px;
    resize: none;
    border: 1px solid #eee;
    letter-spacing: 1px;
    border-radius: 5px;
    transition: 0.3s;
    outline: none;
    color: var(--textColor);
    background-color: #eee;
}

.textArea:focus::placeholder {
    transform: translateY(-200%);
    font-size: 12px;
    color: var(--textColor);
    transition: transform 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.button {
    padding: 13px 20px;
    border: none;
    border-radius: 0;
    display: inline-block;
    background: #eee;
    width: auto;
    transition: 0.1s;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}

.button:hover{
    background: white;
    transform: scale(0.9);
}


.button:after {
    content: "";
    display: block;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
}

.button:active:after {
    box-shadow: 0 0 0 0 black;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
}

.button:active {
    top: 1px;
}



.socialLinks{
    display: flex;
    gap: 2rem;
    position: relative;
    z-index: 9;
}
.socialLinks>a>img{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: 0.2s;
}

.socialLinks>a>img:hover{
   transform: scale(1.2);
}

@media (max-width: 760px) {
    .contactContainer {

        flex-direction: column;
    }

    .textContainer {
    align-items: center;

        width: 100%;
    }
    .formContainer {
        margin: 0 auto;
        width: 90%;
    }
  .centerButton {
      display: flex;
      justify-content: center;
      align-items: center;
  }

}